@font-face{
    font-family: IRANSans;
    src: url("iran sans/iransansweb_medium.woff"); format(woff);
    src: url("iran sans/iransansweb.woff"); format(woff);
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: IRANSans;
    direction: rtl;
}
.main {
    width: 50rem;
    margin: auto;
    padding: 0.625rem;
    background-color: white;
    text-align: right;
}
.iconpro {
    background-color: #cc0066;
    width: 3.25rem;
    height: 2.25rem;
    border-radius: 0.188rem;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin-right: 0.813rem;
}
img {
    width: 50rem;
}
.main h2 {
    color: grey;
    font-size: 0.875rem;
    margin-top: 1.875rem;
}
div h3{
    font-weight: bold;
    font-size: 0.875rem;
    color: #616161;
    text-align: right;

}
.main p {
    color: grey;
    font-size: 0.875rem;
    text-align: right;
}
.icon1 {
    text-align: left;
    height: 3.75rem;
    background-color: midnightblue;
    border: 2px;
    margin: 50px 50px 80px 80px;
}


.footer {
    width: 50rem;
    height: 12.5rem;
    background-color: #e8e8e8;
    margin-top: 3.125rem;
    border-radius:0.188rem;
}
.avatar {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 100%;
}
.row {
    padding: 2.5rem;
    overflow: hidden;
    background-color: #eaeaea;
}
.column{
    width: 16%;
    float: right;
}

.column2{
    width: 65%;
    float: right;
    text-align: right;
    margin-right: 90px;
}
.column2 h2{
    display: inline;
}