@font-face{
    font-family: IRANSansweb;
    src: url("iran sans/iransansweb_medium.woff"); format(woff);
    src: url("iran sans/iransansweb.woff"); format(woff);
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: IRANSansweb, sans-serif;
    direction: rtl;
}
.main {
    width: 75%;
    margin: auto;
    padding: 0.625rem;
    background-color: white;
    text-align: right;
}
.iconpro {
    background-color: #cc0066;
    width: 3.25rem;
    height: 2.25rem;
    border-radius: 0.188rem;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin-right: 0.813rem;
}
img {
    width: 100%;
    vertical-align: middle;
}
h2 {
    color: grey;
    font-size: 1.8rem;
    margin-top: 1.875rem;
}
h3{
    font-weight: bold;
    font-size: 1.8rem;
    color: #616161;
    text-align: right;
}

p{
    font-size: 1.8rem;
    text-align: right;
}
.main p {
    color: grey;
}

.icon1 {
    text-align: left;
    height: 3.75rem;
    background-color: midnightblue;
    border: 0.125rem;
    margin: 3.125rem 3.125rem 5rem 5rem;
}
.footer {
    width: 50rem;
    height: 12.5rem;
    background-color: #e8e8e8;
    margin-top: 3.125rem;
    border-radius:0.188rem;
}
.avatar {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 100%;
}
.row {
    padding: 2.5rem;
    overflow: hidden;
    background-color: #eaeaea;
}
.column{
    width: 16%;
    float: right;
}

.column2{
    width: 65%;
    float: right;
    text-align: right;
    margin-right: 5.625rem;
}
.column2 h2{
    display: inline;
}
/*@media screen and (min-width: 1200px) {
    p,h2,h3 {
        font-size: 0.875rem;
    }
}*/
@media screen and (max-width:768px) {
    p,h2,h3 {
        font-size: 1.2rem;
    }

@media screen and (max-width: 375px) {
    p,h2,h3 {
         font-size: 0.875rem;;
     }
    }

