@font-face{
    font-family: IRANSans;
    src: url("iran sans/iransansweb_medium.woff"); format(woff)

}
body{
    font-family: "Open Sans";
    direction: rtl;
}
.main {
    width: 800px;
    margin: auto;
    padding: 10px;
    background-color: white;
    text-align: right;
}
.iconpro {
    background-color: #cc0066;
    width: 30px;
    height: 20px;
    padding: 1px 15px 7px 7px;
    border-radius: 3px;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 13px;
}
img {
    width: 800px;
}
.main h2 {
    color: grey;
    font-size: 14px;
    margin-top: 30px;
}
div h3{
    font-weight: bold;
    font-size: 14px;
    color: #616161;
    text-align: right;

}
.main p {
    color: grey;
    font-size: 14px;
    text-align: right;
}
.icon1 {
    text-align: left;
    height: 60px;
    background-color: midnightblue;
    border: 2px;
    margin: 50px 50px 80px 80px;
}


.footer {
    width: 800px;
    height: 200px;
    background-color: #e8e8e8;
    margin-top: 50px;
    border-radius: 3px;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.row {
    padding: 40px;
    overflow: hidden;
    background-color: #eaeaea;
}
.column{
    width: 16%;
    float: right;
}

.column2{
    width: 65%;
    float: right;
    text-align: right;
    margin-right: 90px;
}
.column2 h2{
    display: inline;
}